{
    "swagger": "2.0",
    "info": {
        "description": "This API allows you to interact with the VictorOps platform in various ways. Your account may be limited\nto a total number of API calls per month. Also, some of these API calls have rate limits.\n\nNOTE: In this documentation when creating a sample curl request (clicking the TRY IT OUT! button), in some API\nviewing interfaces, the '@' in an email address may be encoded. Please note that the REST endpoints will not\nprocess the encoded version. Make sure that the encoded character '%40' is changed to its unencoded form before\nsubmitting the curl request.\n",
        "version": "0.0.2",
        "title": "VictorOps API"
    },
    "host": "api.victorops.com",
    "basePath": "/",
    "tags": [
        {
            "name": "On-call"
        },
        {
            "name": "Incidents"
        },
        {
            "name": "Alerts"
        },
        {
            "name": "Reporting"
        },
        {
            "name": "Users"
        },
        {
            "name": "User Contact Methods"
        },
        {
            "name": "User Paging Policies"
        },
        {
            "name": "Personal Paging Policy Values"
        },
        {
            "name": "Personal Paging Policies"
        },
        {
            "name": "Teams"
        },
        {
            "name": "Escalation Policies"
        },
        {
            "name": "Routing Keys"
        }
    ],
    "schemes": [
        "https"
    ],
    "produces": [
        "application/json"
    ],
    "paths": {
        "/api-public/v1/user": {
            "get": {
                "tags": [
                    "Users"
                ],
                "summary": "List users",
                "description": "Get a list of users for your organization\n\nThis API may be called a maximum of 15 times per minute.\n",
                "parameters": [
                    {
                        "name": "X-VO-Api-Id",
                        "in": "header",
                        "description": "Your API ID",
                        "required": true,
                        "type": "string",
                        "x-exportParamName": "XVOApiId"
                    },
                    {
                        "name": "X-VO-Api-Key",
                        "in": "header",
                        "description": "Your API Key",
                        "required": true,
                        "type": "string",
                        "x-exportParamName": "XVOApiKey"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "A list of users for your organization",
                        "schema": {
                            "$ref": "#/definitions/ListUserResponse"
                        }
                    },
                    "400": {
                        "description": "Problem with the request arguments.  The response payload may include an error message."
                    },
                    "401": {
                        "description": "Authentication parameters missing"
                    },
                    "403": {
                        "description": "Authentication failed or rate-limit reached"
                    },
                    "404": {
                        "description": "User not found"
                    },
                    "422": {
                        "description": "You have reached your user limit.\n"
                    },
                    "500": {
                        "description": "Internal Server Error"
                    }
                }
            },
            "post": {
                "tags": [
                    "Users"
                ],
                "summary": "Add a user",
                "description": "Add a user to your organization\n\nThis API may be called a maximum of 15 times per minute.\n",
                "parameters": [
                    {
                        "name": "X-VO-Api-Id",
                        "in": "header",
                        "description": "Your API ID",
                        "required": true,
                        "type": "string",
                        "x-exportParamName": "XVOApiId"
                    },
                    {
                        "name": "X-VO-Api-Key",
                        "in": "header",
                        "description": "Your API Key",
                        "required": true,
                        "type": "string",
                        "x-exportParamName": "XVOApiKey"
                    },
                    {
                        "in": "body",
                        "name": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/AddUserPayload"
                        },
                        "x-exportParamName": "Body"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Some details about the user that was added",
                        "schema": {
                            "$ref": "#/definitions/AddUserResponse"
                        }
                    },
                    "400": {
                        "description": "Problem with the request arguments.  The response payload may include an error message."
                    },
                    "401": {
                        "description": "Authentication parameters missing"
                    },
                    "403": {
                        "description": "Authentication failed or rate-limit reached"
                    },
                    "404": {
                        "description": "User not found"
                    },
                    "422": {
                        "description": "Username or email is unavailable, or you have reached your user limit.\n"
                    },
                    "500": {
                        "description": "Internal Server Error"
                    }
                }
            }
        },
        "/api-public/v1/user/{user}": {
            "get": {
                "tags": [
                    "Users"
                ],
                "summary": "Retrieve information for a user",
                "description": "Get the information for the specified user\n\nThis API may be called a maximum of 15 times per minute.\n",
                "parameters": [
                    {
                        "name": "X-VO-Api-Id",
                        "in": "header",
                        "description": "Your API ID",
                        "required": true,
                        "type": "string",
                        "x-exportParamName": "XVOApiId"
                    },
                    {
                        "name": "X-VO-Api-Key",
                        "in": "header",
                        "description": "Your API Key",
                        "required": true,
                        "type": "string",
                        "x-exportParamName": "XVOApiKey"
                    },
                    {
                        "name": "user",
                        "in": "path",
                        "description": "The VictorOps user to fetch",
                        "required": true,
                        "type": "string",
                        "x-exportParamName": "User"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Some details about the user that was added",
                        "schema": {
                            "$ref": "#/definitions/AddUserResponse"
                        }
                    },
                    "400": {
                        "description": "Problem with the request arguments.  The response payload may include an error message."
                    },
                    "401": {
                        "description": "Authentication parameters missing"
                    },
                    "403": {
                        "description": "Authentication failed or rate-limit reached"
                    },
                    "404": {
                        "description": "User not found"
                    },
                    "422": {
                        "description": "Username or email is unavailable, or you have reached your user limit.\n"
                    },
                    "500": {
                        "description": "Internal Server Error"
                    }
                }
            },
            "put": {
                "tags": [
                    "Users"
                ],
                "summary": "Update a user",
                "description": "Update the designated user\n\nThis API may be called a maximum of 15 times per minute.\n",
                "parameters": [
                    {
                        "name": "X-VO-Api-Id",
                        "in": "header",
                        "description": "Your API ID",
                        "required": true,
                        "type": "string",
                        "x-exportParamName": "XVOApiId"
                    },
                    {
                        "name": "X-VO-Api-Key",
                        "in": "header",
                        "description": "Your API Key",
                        "required": true,
                        "type": "string",
                        "x-exportParamName": "XVOApiKey"
                    },
                    {
                        "name": "user",
                        "in": "path",
                        "description": "The VictorOps user to be updated",
                        "required": true,
                        "type": "string",
                        "x-exportParamName": "User"
                    },
                    {
                        "in": "body",
                        "name": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/AddUserPayload"
                        },
                        "x-exportParamName": "Body"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Some details about the user that was added",
                        "schema": {
                            "$ref": "#/definitions/AddUserResponse"
                        }
                    },
                    "400": {
                        "description": "Problem with the request arguments.  The response payload may include an error message."
                    },
                    "401": {
                        "description": "Authentication parameters missing"
                    },
                    "403": {
                        "description": "Authentication failed or rate-limit reached"
                    },
                    "404": {
                        "description": "User not found"
                    },
                    "422": {
                        "description": "Username or email is unavailable, or you have reached your user limit.\n"
                    },
                    "500": {
                        "description": "Internal Server Error"
                    }
                }
            },
            "delete": {
                "tags": [
                    "Users"
                ],
                "summary": "Remove a user",
                "description": "Remove a user from your organization\n\nThis API may be called a maximum of 15 times per minute.\n",
                "parameters": [
                    {
                        "name": "X-VO-Api-Id",
                        "in": "header",
                        "description": "Your API ID",
                        "required": true,
                        "type": "string",
                        "x-exportParamName": "XVOApiId"
                    },
                    {
                        "name": "X-VO-Api-Key",
                        "in": "header",
                        "description": "Your API Key",
                        "required": true,
                        "type": "string",
                        "x-exportParamName": "XVOApiKey"
                    },
                    {
                        "name": "user",
                        "in": "path",
                        "description": "The VictorOps user to be deleted",
                        "required": true,
                        "type": "string",
                        "x-exportParamName": "User"
                    },
                    {
                        "in": "body",
                        "name": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/DeleteUserPayload"
                        },
                        "x-exportParamName": "Body"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "User was deleted"
                    },
                    "400": {
                        "description": "Problem with the request arguments.  The response payload may include an error message."
                    },
                    "401": {
                        "description": "Authentication parameters missing"
                    },
                    "403": {
                        "description": "Authentication failed or rate-limit reached"
                    },
                    "404": {
                        "description": "User not found"
                    },
                    "422": {
                        "description": "There was a problem with the delete such as the replacement user was not found.\n"
                    },
                    "500": {
                        "description": "Internal Server Error"
                    }
                }
            }
        },
        "/api-public/v1/policies/types/notifications": {
            "get": {
                "tags": [
                    "Personal Paging Policy Values"
                ],
                "summary": "Get the available notification types",
                "description": "Get the available notification types\n\ndescription: \"Send a push notification to all my devices\", type: \"push\"\ndescription: \"Send an email to an email address\", type: \"email\"\ndescription: \"Send an SMS to a phone number\", type: \"sms\"\ndescription: \"Make a phone call to a phone number\", type: \"phone\"\n\nThis API may be called a maximum of 15 times per minute.\n",
                "parameters": [
                    {
                        "name": "X-VO-Api-Id",
                        "in": "header",
                        "description": "Your API ID",
                        "required": true,
                        "type": "string",
                        "x-exportParamName": "XVOApiId"
                    },
                    {
                        "name": "X-VO-Api-Key",
                        "in": "header",
                        "description": "Your API Key",
                        "required": true,
                        "type": "string",
                        "x-exportParamName": "XVOApiKey"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "All the available contact types",
                        "schema": {
                            "$ref": "#/definitions/inline_response_200"
                        }
                    },
                    "400": {
                        "description": "Problem with the request arguments.  The response payload may include an error message."
                    },
                    "401": {
                        "description": "Authentication parameters missing"
                    },
                    "403": {
                        "description": "Authentication failed or rate-limit reached"
                    },
                    "500": {
                        "description": "Internal Server Error"
                    }
                }
            }
        },
        "/api-public/v1/policies/types/contacts": {
            "get": {
                "tags": [
                    "Personal Paging Policy Values"
                ],
                "summary": "Get the available contact types",
                "description": "Get the available contact types\n\ndescription: \"Email Address\", type: \"email\"\ndescription: \"Phone Number\", type: \"phone\"\n\nThis API may be called a maximum of 15 times per minute.\n",
                "parameters": [
                    {
                        "name": "X-VO-Api-Id",
                        "in": "header",
                        "description": "Your API ID",
                        "required": true,
                        "type": "string",
                        "x-exportParamName": "XVOApiId"
                    },
                    {
                        "name": "X-VO-Api-Key",
                        "in": "header",
                        "description": "Your API Key",
                        "required": true,
                        "type": "string",
                        "x-exportParamName": "XVOApiKey"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "All the available contact types",
                        "schema": {
                            "$ref": "#/definitions/inline_response_200_1"
                        }
                    },
                    "400": {
                        "description": "Problem with the request arguments.  The response payload may include an error message."
                    },
                    "401": {
                        "description": "Authentication parameters missing"
                    },
                    "403": {
                        "description": "Authentication failed or rate-limit reached"
                    },
                    "500": {
                        "description": "Internal Server Error"
                    }
                }
            }
        },
        "/api-public/v1/policies/types/timeouts": {
            "get": {
                "tags": [
                    "Personal Paging Policy Values"
                ],
                "summary": "Get the available timeout values",
                "description": "Get the available timeout values\n\ndescription: \"If still unacked after 1 minute\", type: 1\ndescription: \"If still unacked after 5 minutes\", type: 5\ndescription: \"If still unacked after 10 minutes\", type: 10\ndescription: \"If still unacked after 15 minutes\", type: 15\ndescription: \"If still unacked after 20 minutes\", type: 20\ndescription: \"If still unacked after 25 minutes\", type: 25\ndescription: \"If still unacked after 30 minutes\", type: 30\ndescription: \"If still unacked after 45 minutes\", type: 45\ndescription: \"If still unacked after 60 minutes\", type: 60\n\nThis API may be called a maximum of 15 times per minute.\n",
                "parameters": [
                    {
                        "name": "X-VO-Api-Id",
                        "in": "header",
                        "description": "Your API ID",
                        "required": true,
                        "type": "string",
                        "x-exportParamName": "XVOApiId"
                    },
                    {
                        "name": "X-VO-Api-Key",
                        "in": "header",
                        "description": "Your API Key",
                        "required": true,
                        "type": "string",
                        "x-exportParamName": "XVOApiKey"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "All the available timeout types.",
                        "schema": {
                            "$ref": "#/definitions/inline_response_200_2"
                        }
                    },
                    "400": {
                        "description": "Problem with the request arguments.  The response payload may include an error message."
                    },
                    "401": {
                        "description": "Authentication parameters missing"
                    },
                    "403": {
                        "description": "Authentication failed or rate-limit reached"
                    },
                    "500": {
                        "description": "Internal Server Error"
                    }
                }
            }
        },
        "/api-public/v1/profile/{username}/policies": {
            "get": {
                "tags": [
                    "Personal Paging Policies"
                ],
                "summary": "Get the user's paging policy",
                "description": "Get all the paging policy steps for the user on the org associated with the API key\n\nThis API may be called a maximum of 15 times per minute.\n",
                "parameters": [
                    {
                        "name": "username",
                        "in": "path",
                        "description": "Your username",
                        "required": true,
                        "type": "string",
                        "x-exportParamName": "Username"
                    },
                    {
                        "name": "X-VO-Api-Id",
                        "in": "header",
                        "description": "Your API ID",
                        "required": true,
                        "type": "string",
                        "x-exportParamName": "XVOApiId"
                    },
                    {
                        "name": "X-VO-Api-Key",
                        "in": "header",
                        "description": "Your API Key",
                        "required": true,
                        "type": "string",
                        "x-exportParamName": "XVOApiKey"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "All steps of the user's paging policy",
                        "schema": {
                            "$ref": "#/definitions/inline_response_200_3"
                        }
                    },
                    "400": {
                        "description": "Problem with the request arguments.  The response payload may include an error message."
                    },
                    "401": {
                        "description": "Authentication parameters missing"
                    },
                    "403": {
                        "description": "Authentication failed or rate-limit reached"
                    },
                    "500": {
                        "description": "Internal Server Error"
                    }
                }
            },
            "post": {
                "tags": [
                    "Personal Paging Policies"
                ],
                "summary": "Create a paging policy step",
                "description": "Create a paging policy step\n\nThis API may be called a maximum of 15 times per minute.\n",
                "parameters": [
                    {
                        "name": "username",
                        "in": "path",
                        "description": "Your username",
                        "required": true,
                        "type": "string",
                        "x-exportParamName": "Username"
                    },
                    {
                        "name": "X-VO-Api-Id",
                        "in": "header",
                        "description": "Your API ID",
                        "required": true,
                        "type": "string",
                        "x-exportParamName": "XVOApiId"
                    },
                    {
                        "name": "X-VO-Api-Key",
                        "in": "header",
                        "description": "Your API Key",
                        "required": true,
                        "type": "string",
                        "x-exportParamName": "XVOApiKey"
                    },
                    {
                        "in": "body",
                        "name": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/AddGroupPayload"
                        },
                        "x-exportParamName": "Body"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The created paging policy step",
                        "schema": {
                            "$ref": "#/definitions/inline_response_200_4"
                        }
                    },
                    "400": {
                        "description": "Problem with the request arguments.  The response payload may include an error message."
                    },
                    "401": {
                        "description": "Authentication parameters missing"
                    },
                    "403": {
                        "description": "Authentication failed or rate-limit reached"
                    },
                    "500": {
                        "description": "Internal Server Error"
                    }
                }
            }
        },
        "/api-public/v1/profile/{username}/policies/{step}": {
            "get": {
                "tags": [
                    "Personal Paging Policies"
                ],
                "summary": "Get a paging policy step",
                "description": "Get a paging policy step\n\nThis API may be called a maximum of 15 times per minute.\n",
                "parameters": [
                    {
                        "name": "username",
                        "in": "path",
                        "description": "Your username",
                        "required": true,
                        "type": "string",
                        "x-exportParamName": "Username"
                    },
                    {
                        "name": "step",
                        "in": "path",
                        "description": "Paging policy step",
                        "required": true,
                        "type": "number",
                        "x-exportParamName": "Step"
                    },
                    {
                        "name": "X-VO-Api-Id",
                        "in": "header",
                        "description": "Your API ID",
                        "required": true,
                        "type": "string",
                        "x-exportParamName": "XVOApiId"
                    },
                    {
                        "name": "X-VO-Api-Key",
                        "in": "header",
                        "description": "Your API Key",
                        "required": true,
                        "type": "string",
                        "x-exportParamName": "XVOApiKey"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The paging policy step",
                        "schema": {
                            "$ref": "#/definitions/inline_response_200_4"
                        }
                    },
                    "400": {
                        "description": "Problem with the request arguments.  The response payload may include an error message."
                    },
                    "401": {
                        "description": "Authentication parameters missing"
                    },
                    "403": {
                        "description": "Authentication failed or rate-limit reached"
                    },
                    "500": {
                        "description": "Internal Server Error"
                    }
                }
            },
            "post": {
                "tags": [
                    "Personal Paging Policies"
                ],
                "summary": "Create a rule for a paging policy step",
                "description": "Create a rule for a paging policy step\n\nThis API may be called a maximum of 15 times per minute.\n",
                "parameters": [
                    {
                        "name": "username",
                        "in": "path",
                        "description": "Your username",
                        "required": true,
                        "type": "string",
                        "x-exportParamName": "Username"
                    },
                    {
                        "name": "step",
                        "in": "path",
                        "description": "Paging policy step",
                        "required": true,
                        "type": "number",
                        "x-exportParamName": "Step"
                    },
                    {
                        "name": "X-VO-Api-Id",
                        "in": "header",
                        "description": "Your API ID",
                        "required": true,
                        "type": "string",
                        "x-exportParamName": "XVOApiId"
                    },
                    {
                        "name": "X-VO-Api-Key",
                        "in": "header",
                        "description": "Your API Key",
                        "required": true,
                        "type": "string",
                        "x-exportParamName": "XVOApiKey"
                    },
                    {
                        "in": "body",
                        "name": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/AddStepPayload"
                        },
                        "x-exportParamName": "Body"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The created rule for the paging policy step",
                        "schema": {
                            "$ref": "#/definitions/inline_response_200_5"
                        }
                    },
                    "400": {
                        "description": "Problem with the request arguments.  The response payload may include an error message."
                    },
                    "401": {
                        "description": "Authentication parameters missing"
                    },
                    "403": {
                        "description": "Authentication failed or rate-limit reached"
                    },
                    "500": {
                        "description": "Internal Server Error"
                    }
                }
            },
            "put": {
                "tags": [
                    "Personal Paging Policies"
                ],
                "summary": "Update a paging policy step",
                "description": "Update a paging policy step\n\nThis API may be called a maximum of 15 times per minute.\n",
                "parameters": [
                    {
                        "name": "username",
                        "in": "path",
                        "description": "Your username",
                        "required": true,
                        "type": "string",
                        "x-exportParamName": "Username"
                    },
                    {
                        "name": "step",
                        "in": "path",
                        "description": "Paging policy step",
                        "required": true,
                        "type": "number",
                        "x-exportParamName": "Step"
                    },
                    {
                        "name": "X-VO-Api-Id",
                        "in": "header",
                        "description": "Your API ID",
                        "required": true,
                        "type": "string",
                        "x-exportParamName": "XVOApiId"
                    },
                    {
                        "name": "X-VO-Api-Key",
                        "in": "header",
                        "description": "Your API Key",
                        "required": true,
                        "type": "string",
                        "x-exportParamName": "XVOApiKey"
                    },
                    {
                        "in": "body",
                        "name": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/AddGroupPayload"
                        },
                        "x-exportParamName": "Body"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The updated paging policy step",
                        "schema": {
                            "$ref": "#/definitions/inline_response_200_4"
                        }
                    },
                    "400": {
                        "description": "Problem with the request arguments.  The response payload may include an error message."
                    },
                    "401": {
                        "description": "Authentication parameters missing"
                    },
                    "403": {
                        "description": "Authentication failed or rate-limit reached"
                    },
                    "500": {
                        "description": "Internal Server Error"
                    }
                }
            }
        },
        "/api-public/v1/profile/{username}/policies/{step}/{rule}": {
            "get": {
                "tags": [
                    "Personal Paging Policies"
                ],
                "summary": "Get a rule from a paging policy step",
                "description": "Get a rule from a paging policy step\n\nThis API may be called a maximum of 15 times per minute.\n",
                "parameters": [
                    {
                        "name": "username",
                        "in": "path",
                        "description": "Your username",
                        "required": true,
                        "type": "string",
                        "x-exportParamName": "Username"
                    },
                    {
                        "name": "step",
                        "in": "path",
                        "description": "Paging policy step",
                        "required": true,
                        "type": "number",
                        "x-exportParamName": "Step"
                    },
                    {
                        "name": "rule",
                        "in": "path",
                        "description": "Rule for a paging policy step",
                        "required": true,
                        "type": "number",
                        "x-exportParamName": "Rule"
                    },
                    {
                        "name": "X-VO-Api-Id",
                        "in": "header",
                        "description": "Your API ID",
                        "required": true,
                        "type": "string",
                        "x-exportParamName": "XVOApiId"
                    },
                    {
                        "name": "X-VO-Api-Key",
                        "in": "header",
                        "description": "Your API Key",
                        "required": true,
                        "type": "string",
                        "x-exportParamName": "XVOApiKey"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The rule from the paging policy step",
                        "schema": {
                            "$ref": "#/definitions/inline_response_200_5"
                        }
                    },
                    "400": {
                        "description": "Problem with the request arguments.  The response payload may include an error message."
                    },
                    "401": {
                        "description": "Authentication parameters missing"
                    },
                    "403": {
                        "description": "Authentication failed or rate-limit reached"
                    },
                    "500": {
                        "description": "Internal Server Error"
                    }
                }
            },
            "put": {
                "tags": [
                    "Personal Paging Policies"
                ],
                "summary": "Update a rule for a paging policy step",
                "description": "Update a rule for a paging policy step\n\nThis API may be called a maximum of 15 times per minute.\n",
                "parameters": [
                    {
                        "name": "username",
                        "in": "path",
                        "description": "Your username",
                        "required": true,
                        "type": "string",
                        "x-exportParamName": "Username"
                    },
                    {
                        "name": "step",
                        "in": "path",
                        "description": "Paging policy step",
                        "required": true,
                        "type": "number",
                        "x-exportParamName": "Step"
                    },
                    {
                        "name": "rule",
                        "in": "path",
                        "description": "Rule for a paging policy step",
                        "required": true,
                        "type": "number",
                        "x-exportParamName": "Rule"
                    },
                    {
                        "name": "X-VO-Api-Id",
                        "in": "header",
                        "description": "Your API ID",
                        "required": true,
                        "type": "string",
                        "x-exportParamName": "XVOApiId"
                    },
                    {
                        "name": "X-VO-Api-Key",
                        "in": "header",
                        "description": "Your API Key",
                        "required": true,
                        "type": "string",
                        "x-exportParamName": "XVOApiKey"
                    },
                    {
                        "in": "body",
                        "name": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/AddStepPayload"
                        },
                        "x-exportParamName": "Body"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The updated rule for the paging policy step",
                        "schema": {
                            "$ref": "#/definitions/inline_response_200_5"
                        }
                    },
                    "400": {
                        "description": "Problem with the request arguments.  The response payload may include an error message."
                    },
                    "401": {
                        "description": "Authentication parameters missing"
                    },
                    "403": {
                        "description": "Authentication failed or rate-limit reached"
                    },
                    "500": {
                        "description": "Internal Server Error"
                    }
                }
            },
            "delete": {
                "tags": [
                    "Personal Paging Policies"
                ],
                "summary": "Delete a rule from a paging policy step",
                "description": "Delete a rule from a paging policy step\n\nThis API may be called a maximum of 15 times per minute.\n",
                "parameters": [
                    {
                        "name": "username",
                        "in": "path",
                        "description": "Your username",
                        "required": true,
                        "type": "string",
                        "x-exportParamName": "Username"
                    },
                    {
                        "name": "step",
                        "in": "path",
                        "description": "Paging policy step",
                        "required": true,
                        "type": "number",
                        "x-exportParamName": "Step"
                    },
                    {
                        "name": "rule",
                        "in": "path",
                        "description": "Rule for a paging policy step",
                        "required": true,
                        "type": "number",
                        "x-exportParamName": "Rule"
                    },
                    {
                        "name": "X-VO-Api-Id",
                        "in": "header",
                        "description": "Your API ID",
                        "required": true,
                        "type": "string",
                        "x-exportParamName": "XVOApiId"
                    },
                    {
                        "name": "X-VO-Api-Key",
                        "in": "header",
                        "description": "Your API Key",
                        "required": true,
                        "type": "string",
                        "x-exportParamName": "XVOApiKey"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The deleted rule from the paging policy step",
                        "schema": {
                            "$ref": "#/definitions/inline_response_200_5"
                        }
                    },
                    "400": {
                        "description": "Problem with the request arguments.  The response payload may include an error message."
                    },
                    "401": {
                        "description": "Authentication parameters missing"
                    },
                    "403": {
                        "description": "Authentication failed or rate-limit reached"
                    },
                    "500": {
                        "description": "Internal Server Error"
                    }
                }
            }
        },
        "/api-public/v1/user/{user}/contact-methods": {
            "get": {
                "tags": [
                    "User Contact Methods"
                ],
                "summary": "Get a list of all contact methods for a user",
                "description": "Get the contact methods for a user\n\nThis API may be called a maximum of 15 times per minute.\n",
                "parameters": [
                    {
                        "name": "X-VO-Api-Id",
                        "in": "header",
                        "description": "Your API ID",
                        "required": true,
                        "type": "string",
                        "x-exportParamName": "XVOApiId"
                    },
                    {
                        "name": "X-VO-Api-Key",
                        "in": "header",
                        "description": "Your API Key",
                        "required": true,
                        "type": "string",
                        "x-exportParamName": "XVOApiKey"
                    },
                    {
                        "name": "user",
                        "in": "path",
                        "description": "The VictorOps user ID",
                        "required": true,
                        "type": "string",
                        "x-exportParamName": "User"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "All available contact methods for the user",
                        "schema": {
                            "$ref": "#/definitions/inline_response_200_6"
                        }
                    },
                    "400": {
                        "description": "Problem with the request arguments.  The response payload may include an error message."
                    },
                    "401": {
                        "description": "Authentication parameters missing"
                    },
                    "403": {
                        "description": "Authentication failed or rate-limit reached"
                    },
                    "404": {
                        "description": "User not found"
                    },
                    "500": {
                        "description": "Internal Server Error"
                    }
                }
            }
        },
        "/api-public/v1/user/{user}/contact-methods/devices": {
            "get": {
                "tags": [
                    "User Contact Methods"
                ],
                "summary": "Get a list of all contact devices for a user",
                "description": "Get the contact methods for a user\n\nThis API may be called a maximum of 15 times per minute.\n",
                "parameters": [
                    {
                        "name": "X-VO-Api-Id",
                        "in": "header",
                        "description": "Your API ID",
                        "required": true,
                        "type": "string",
                        "x-exportParamName": "XVOApiId"
                    },
                    {
                        "name": "X-VO-Api-Key",
                        "in": "header",
                        "description": "Your API Key",
                        "required": true,
                        "type": "string",
                        "x-exportParamName": "XVOApiKey"
                    },
                    {
                        "name": "user",
                        "in": "path",
                        "description": "The VictorOps user ID",
                        "required": true,
                        "type": "string",
                        "x-exportParamName": "User"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The list of contact devices for the user",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/ContactDevice"
                            }
                        }
                    },
                    "401": {
                        "description": "Authentication parameters missing"
                    },
                    "403": {
                        "description": "Authentication failed or rate-limit reached"
                    },
                    "404": {
                        "description": "User not found"
                    },
                    "500": {
                        "description": "Internal Server Error"
                    }
                }
            }
        },
        "/api-public/v1/user/{user}/contact-methods/devices/{contactId}": {
            "get": {
                "tags": [
                    "User Contact Methods"
                ],
                "summary": "Get the indicated contact device for a user",
                "description": "Get the indicated contact device for a user\n\nThis API may be called a maximum of 15 times per minute.\n",
                "parameters": [
                    {
                        "name": "X-VO-Api-Id",
                        "in": "header",
                        "description": "Your API ID",
                        "required": true,
                        "type": "string",
                        "x-exportParamName": "XVOApiId"
                    },
                    {
                        "name": "X-VO-Api-Key",
                        "in": "header",
                        "description": "Your API Key",
                        "required": true,
                        "type": "string",
                        "x-exportParamName": "XVOApiKey"
                    },
                    {
                        "name": "user",
                        "in": "path",
                        "description": "The VictorOps user ID",
                        "required": true,
                        "type": "string",
                        "x-exportParamName": "User"
                    },
                    {
                        "name": "contactId",
                        "in": "path",
                        "description": "The unique contact identifier",
                        "required": true,
                        "type": "string",
                        "x-exportParamName": "ContactId"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The list of contact devices for the user",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/ContactDevice"
                            }
                        }
                    },
                    "401": {
                        "description": "Authentication parameters missing"
                    },
                    "403": {
                        "description": "Authentication failed or rate-limit reached"
                    },
                    "404": {
                        "description": "User not found"
                    },
                    "500": {
                        "description": "Internal Server Error"
                    }
                }
            },
            "put": {
                "tags": [
                    "User Contact Methods"
                ],
                "summary": "Update a contact device for a user",
                "description": "Update a contact device for a user\n\nThis API may be called a maximum of 15 times per minute.\n",
                "parameters": [
                    {
                        "name": "X-VO-Api-Id",
                        "in": "header",
                        "description": "Your API ID",
                        "required": true,
                        "type": "string",
                        "x-exportParamName": "XVOApiId"
                    },
                    {
                        "name": "X-VO-Api-Key",
                        "in": "header",
                        "description": "Your API Key",
                        "required": true,
                        "type": "string",
                        "x-exportParamName": "XVOApiKey"
                    },
                    {
                        "name": "user",
                        "in": "path",
                        "description": "The VictorOps user ID",
                        "required": true,
                        "type": "string",
                        "x-exportParamName": "User"
                    },
                    {
                        "name": "contactId",
                        "in": "path",
                        "description": "The unique contact identifier",
                        "required": true,
                        "type": "string",
                        "x-exportParamName": "ContactId"
                    },
                    {
                        "in": "body",
                        "name": "body",
                        "description": "The contact device",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/ContactDeviceAdd"
                        },
                        "x-exportParamName": "Body"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The list of contact devices for the user",
                        "schema": {
                            "$ref": "#/definitions/ContactDevice"
                        }
                    },
                    "400": {
                        "description": "Problem with the request arguments.  The response payload may include an error message."
                    },
                    "401": {
                        "description": "Authentication parameters missing"
                    },
                    "403": {
                        "description": "Authentication failed or rate-limit reached"
                    },
                    "404": {
                        "description": "User not found"
                    },
                    "500": {
                        "description": "Internal Server Error"
                    }
                }
            },
            "delete": {
                "tags": [
                    "User Contact Methods"
                ],
                "summary": "Delete a contact device for a user",
                "description": "Delete a contact device for a user\n\nThis API may be called a maximum of 15 times per minute.\n",
                "parameters": [
                    {
                        "name": "X-VO-Api-Id",
                        "in": "header",
                        "description": "Your API ID",
                        "required": true,
                        "type": "string",
                        "x-exportParamName": "XVOApiId"
                    },
                    {
                        "name": "X-VO-Api-Key",
                        "in": "header",
                        "description": "Your API Key",
                        "required": true,
                        "type": "string",
                        "x-exportParamName": "XVOApiKey"
                    },
                    {
                        "name": "user",
                        "in": "path",
                        "description": "The VictorOps user ID",
                        "required": true,
                        "type": "string",
                        "x-exportParamName": "User"
                    },
                    {
                        "name": "contactId",
                        "in": "path",
                        "description": "The unique contact identifier",
                        "required": true,
                        "type": "string",
                        "x-exportParamName": "ContactId"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Deleted contact device for the user",
                        "schema": {
                            "$ref": "#/definitions/ContactDevice"
                        }
                    },
                    "400": {
                        "description": "Problem with the request arguments.  The response payload may include an error message."
                    },
                    "401": {
                        "description": "Authentication parameters missing"
                    },
                    "403": {
                        "description": "Authentication failed or rate-limit reached"
                    },
                    "404": {
                        "description": "User not found"
                    },
                    "500": {
                        "description": "Internal Server Error"
                    }
                }
            }
        },
        "/api-public/v1/user/{user}/contact-methods/emails": {
            "get": {
                "tags": [
                    "User Contact Methods"
                ],
                "summary": "Get a list of all contact emails for a user",
                "description": "Get the contact emails for a user\n\nThis API may be called a maximum of 15 times per minute.\n",
                "parameters": [
                    {
                        "name": "X-VO-Api-Id",
                        "in": "header",
                        "description": "Your API ID",
                        "required": true,
                        "type": "string",
                        "x-exportParamName": "XVOApiId"
                    },
                    {
                        "name": "X-VO-Api-Key",
                        "in": "header",
                        "description": "Your API Key",
                        "required": true,
                        "type": "string",
                        "x-exportParamName": "XVOApiKey"
                    },
                    {
                        "name": "user",
                        "in": "path",
                        "description": "The VictorOps user ID",
                        "required": true,
                        "type": "string",
                        "x-exportParamName": "User"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The list of contact emails for the user",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/UserContact"
                            }
                        }
                    },
                    "401": {
                        "description": "Authentication parameters missing"
                    },
                    "403": {
                        "description": "Authentication failed or rate-limit reached"
                    },
                    "404": {
                        "description": "User not found"
                    },
                    "500": {
                        "description": "Internal Server Error"
                    }
                }
            },
            "post": {
                "tags": [
                    "User Contact Methods"
                ],
                "summary": "Create a contact emails for a user",
                "description": "Create a contact email for a user\n\nThis API may be called a maximum of 15 times per minute.\n",
                "parameters": [
                    {
                        "name": "X-VO-Api-Id",
                        "in": "header",
                        "description": "Your API ID",
                        "required": true,
                        "type": "string",
                        "x-exportParamName": "XVOApiId"
                    },
                    {
                        "name": "X-VO-Api-Key",
                        "in": "header",
                        "description": "Your API Key",
                        "required": true,
                        "type": "string",
                        "x-exportParamName": "XVOApiKey"
                    },
                    {
                        "name": "user",
                        "in": "path",
                        "description": "The VictorOps user ID",
                        "required": true,
                        "type": "string",
                        "x-exportParamName": "User"
                    },
                    {
                        "in": "body",
                        "name": "body",
                        "description": "The contact email",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/ContactEmailAdd"
                        },
                        "x-exportParamName": "Body"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The list of contact emails for the user",
                        "schema": {
                            "$ref": "#/definitions/UserContact"
                        }
                    },
                    "400": {
                        "description": "Problem with the request arguments.  The response payload may include an error message."
                    },
                    "401": {
                        "description": "Authentication parameters missing"
                    },
                    "403": {
                        "description": "Authentication failed or rate-limit reached"
                    },
                    "404": {
                        "description": "User not found"
                    },
                    "500": {
                        "description": "Internal Server Error"
                    }
                }
            }
        },
        "/api-public/v1/user/{user}/contact-methods/emails/{contactId}": {
            "get": {
                "tags": [
                    "User Contact Methods"
                ],
                "summary": "Get the indicate contact email for a user",
                "description": "Get the indicated contact email for a user\n\nThis API may be called a maximum of 15 times per minute.\n",
                "parameters": [
                    {
                        "name": "X-VO-Api-Id",
                        "in": "header",
                        "description": "Your API ID",
                        "required": true,
                        "type": "string",
                        "x-exportParamName": "XVOApiId"
                    },
                    {
                        "name": "X-VO-Api-Key",
                        "in": "header",
                        "description": "Your API Key",
                        "required": true,
                        "type": "string",
                        "x-exportParamName": "XVOApiKey"
                    },
                    {
                        "name": "user",
                        "in": "path",
                        "description": "The VictorOps user ID",
                        "required": true,
                        "type": "string",
                        "x-exportParamName": "User"
                    },
                    {
                        "name": "contactId",
                        "in": "path",
                        "description": "The unique contact identifier",
                        "required": true,
                        "type": "string",
                        "x-exportParamName": "ContactId"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The indicated contact email for the user",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/UserContact"
                            }
                        }
                    },
                    "401": {
                        "description": "Authentication parameters missing"
                    },
                    "403": {
                        "description": "Authentication failed or rate-limit reached"
                    },
                    "404": {
                        "description": "User not found"
                    },
                    "500": {
                        "description": "Internal Server Error"
                    }
                }
            },
            "delete": {
                "tags": [
                    "User Contact Methods"
                ],
                "summary": "Delete a contact email for a user",
                "description": "Delete the indicated contact email for the user\n\nThis API may be called a maximum of 15 times per minute.\n",
                "parameters": [
                    {
                        "name": "X-VO-Api-Id",
                        "in": "header",
                        "description": "Your API ID",
                        "required": true,
                        "type": "string",
                        "x-exportParamName": "XVOApiId"
                    },
                    {
                        "name": "X-VO-Api-Key",
                        "in": "header",
                        "description": "Your API Key",
                        "required": true,
                        "type": "string",
                        "x-exportParamName": "XVOApiKey"
                    },
                    {
                        "name": "user",
                        "in": "path",
                        "description": "The VictorOps user ID",
                        "required": true,
                        "type": "string",
                        "x-exportParamName": "User"
                    },
                    {
                        "name": "contactId",
                        "in": "path",
                        "description": "The unique contact identifier",
                        "required": true,
                        "type": "string",
                        "x-exportParamName": "ContactId"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Deleted contact email for the user",
                        "schema": {
                            "$ref": "#/definitions/UserContact"
                        }
                    },
                    "400": {
                        "description": "Problem with the request arguments.  The response payload may include an error message."
                    },
                    "401": {
                        "description": "Authentication parameters missing"
                    },
                    "403": {
                        "description": "Authentication failed or rate-limit reached"
                    },
                    "404": {
                        "description": "User not found"
                    },
                    "500": {
                        "description": "Internal Server Error"
                    }
                }
            }
        },
        "/api-public/v1/user/{user}/contact-methods/phones": {
            "get": {
                "tags": [
                    "User Contact Methods"
                ],
                "summary": "Get a list of all contact phones for a user",
                "description": "Get the contact phones for a user\n\nThis API may be called a maximum of 15 times per minute.\n",
                "parameters": [
                    {
                        "name": "X-VO-Api-Id",
                        "in": "header",
                        "description": "Your API ID",
                        "required": true,
                        "type": "string",
                        "x-exportParamName": "XVOApiId"
                    },
                    {
                        "name": "X-VO-Api-Key",
                        "in": "header",
                        "description": "Your API Key",
                        "required": true,
                        "type": "string",
                        "x-exportParamName": "XVOApiKey"
                    },
                    {
                        "name": "user",
                        "in": "path",
                        "description": "The VictorOps user ID",
                        "required": true,
                        "type": "string",
                        "x-exportParamName": "User"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The list of contact phones for the user",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/UserContact"
                            }
                        }
                    },
                    "401": {
                        "description": "Authentication parameters missing"
                    },
                    "403": {
                        "description": "Authentication failed or rate-limit reached"
                    },
                    "404": {
                        "description": "User not found"
                    },
                    "500": {
                        "description": "Internal Server Error"
                    }
                }
            },
            "post": {
                "tags": [
                    "User Contact Methods"
                ],
                "summary": "Create a contact phones for a user",
                "description": "Create a contact phone for a user\n\nThis API may be called a maximum of 15 times per minute.\n",
                "parameters": [
                    {
                        "name": "X-VO-Api-Id",
                        "in": "header",
                        "description": "Your API ID",
                        "required": true,
                        "type": "string",
                        "x-exportParamName": "XVOApiId"
                    },
                    {
                        "name": "X-VO-Api-Key",
                        "in": "header",
                        "description": "Your API Key",
                        "required": true,
                        "type": "string",
                        "x-exportParamName": "XVOApiKey"
                    },
                    {
                        "name": "user",
                        "in": "path",
                        "description": "The VictorOps user ID",
                        "required": true,
                        "type": "string",
                        "x-exportParamName": "User"
                    },
                    {
                        "in": "body",
                        "name": "body",
                        "description": "The contact phone",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/ContactPhoneAdd"
                        },
                        "x-exportParamName": "Body"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The list of contact phones for the user",
                        "schema": {
                            "$ref": "#/definitions/UserContact"
                        }
                    },
                    "400": {
                        "description": "Problem with the request arguments.  The response payload may include an error message."
                    },
                    "401": {
                        "description": "Authentication parameters missing"
                    },
                    "403": {
                        "description": "Authentication failed or rate-limit reached"
                    },
                    "404": {
                        "description": "User not found"
                    },
                    "500": {
                        "description": "Internal Server Error"
                    }
                }
            }
        },
        "/api-public/v1/user/{user}/contact-methods/phones/{contactId}": {
            "get": {
                "tags": [
                    "User Contact Methods"
                ],
                "summary": "Get the indicate contact phone for a user",
                "description": "Get the indicated contact phone for a user\n\nThis API may be called a maximum of 15 times per minute.\n",
                "parameters": [
                    {
                        "name": "X-VO-Api-Id",
                        "in": "header",
                        "description": "Your API ID",
                        "required": true,
                        "type": "string",
                        "x-exportParamName": "XVOApiId"
                    },
                    {
                        "name": "X-VO-Api-Key",
                        "in": "header",
                        "description": "Your API Key",
                        "required": true,
                        "type": "string",
                        "x-exportParamName": "XVOApiKey"
                    },
                    {
                        "name": "user",
                        "in": "path",
                        "description": "The VictorOps user ID",
                        "required": true,
                        "type": "string",
                        "x-exportParamName": "User"
                    },
                    {
                        "name": "contactId",
                        "in": "path",
                        "description": "The unique contact identifier",
                        "required": true,
                        "type": "string",
                        "x-exportParamName": "ContactId"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The indicated contact phone for the user",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/UserContact"
                            }
                        }
                    },
                    "401": {
                        "description": "Authentication parameters missing"
                    },
                    "403": {
                        "description": "Authentication failed or rate-limit reached"
                    },
                    "404": {
                        "description": "User not found"
                    },
                    "500": {
                        "description": "Internal Server Error"
                    }
                }
            },
            "delete": {
                "tags": [
                    "User Contact Methods"
                ],
                "summary": "Delete a contact phone for a user",
                "description": "Delete the indicated contact phone for the user\n\nThis API may be called a maximum of 15 times per minute.\n",
                "parameters": [
                    {
                        "name": "X-VO-Api-Id",
                        "in": "header",
                        "description": "Your API ID",
                        "required": true,
                        "type": "string",
                        "x-exportParamName": "XVOApiId"
                    },
                    {
                        "name": "X-VO-Api-Key",
                        "in": "header",
                        "description": "Your API Key",
                        "required": true,
                        "type": "string",
                        "x-exportParamName": "XVOApiKey"
                    },
                    {
                        "name": "user",
                        "in": "path",
                        "description": "The VictorOps user ID",
                        "required": true,
                        "type": "string",
                        "x-exportParamName": "User"
                    },
                    {
                        "name": "contactId",
                        "in": "path",
                        "description": "The unique contact identifier",
                        "required": true,
                        "type": "string",
                        "x-exportParamName": "ContactId"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Deleted contact phone for the user",
                        "schema": {
                            "$ref": "#/definitions/UserContact"
                        }
                    },
                    "400": {
                        "description": "Problem with the request arguments.  The response payload may include an error message."
                    },
                    "401": {
                        "description": "Authentication parameters missing"
                    },
                    "403": {
                        "description": "Authentication failed or rate-limit reached"
                    },
                    "404": {
                        "description": "User not found"
                    },
                    "500": {
                        "description": "Internal Server Error"
                    }
                }
            }
        },
        "/api-public/v1/user/{user}/policies": {
            "get": {
                "tags": [
                    "User Paging Policies"
                ],
                "summary": "Get a list of paging policies for a user",
                "description": "Get paging policies for a user\n\nThis API may be called a maximum of 15 times per minute.\n",
                "parameters": [
                    {
                        "name": "X-VO-Api-Id",
                        "in": "header",
                        "description": "Your API ID",
                        "required": true,
                        "type": "string",
                        "x-exportParamName": "XVOApiId"
                    },
                    {
                        "name": "X-VO-Api-Key",
                        "in": "header",
                        "description": "Your API Key",
                        "required": true,
                        "type": "string",
                        "x-exportParamName": "XVOApiKey"
                    },
                    {
                        "name": "user",
                        "in": "path",
                        "description": "The VictorOps user ID",
                        "required": true,
                        "type": "string",
                        "x-exportParamName": "User"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "All configured paging policies for a user",
                        "schema": {
                            "$ref": "#/definitions/Policies"
                        }
                    },
                    "400": {
                        "description": "Problem with the request arguments.  The response payload may include an error message."
                    },
                    "401": {
                        "description": "Authentication parameters missing"
                    },
                    "403": {
                        "description": "Authentication failed or rate-limit reached"
                    },
                    "404": {
                        "description": "User not found"
                    },
                    "500": {
                        "description": "Internal Server Error"
                    }
                }
            }
        },
        "/api-public/v1/user/{user}/oncall/schedule": {
            "get": {
                "tags": [
                    "On-call"
                ],
                "summary": "Get a user's on-call schedule",
                "description": "__NOTE: This call is deprecated. Please use `GET /api-public/v2/user/{user}/oncall/schedule`.__\n\nGet the on-call schedule for a user for all teams, including on-call overrides.\n\nThis API may be called a maximum of 15 times per minute.\n",
                "parameters": [
                    {
                        "name": "X-VO-Api-Id",
                        "in": "header",
                        "description": "Your API ID",
                        "required": true,
                        "type": "string",
                        "x-exportParamName": "XVOApiId"
                    },
                    {
                        "name": "X-VO-Api-Key",
                        "in": "header",
                        "description": "Your API Key",
                        "required": true,
                        "type": "string",
                        "x-exportParamName": "XVOApiKey"
                    },
                    {
                        "name": "user",
                        "in": "path",
                        "description": "The VictorOps user ID",
                        "required": true,
                        "type": "string",
                        "x-exportParamName": "User"
                    },
                    {
                        "name": "daysForward",
                        "in": "query",
                        "description": "Days to include in returned schedule (30 max)",
                        "required": false,
                        "type": "number",
                        "default": 14,
                        "maximum": 30,
                        "minimum": 0,
                        "x-exportParamName": "DaysForward"
                    },
                    {
                        "name": "daysSkip",
                        "in": "query",
                        "description": "Days to skip before computing schedule to return (90 max)",
                        "required": false,
                        "type": "number",
                        "default": 0,
                        "maximum": 90,
                        "minimum": 0,
                        "x-exportParamName": "DaysSkip"
                    },
                    {
                        "name": "step",
                        "in": "query",
                        "description": "Step of escalation policy (3 max)",
                        "required": false,
                        "type": "number",
                        "default": 0,
                        "maximum": 3,
                        "minimum": 0,
                        "x-exportParamName": "Step"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The on-call schedule for the user",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/OnCallAndOverrides"
                            }
                        }
                    },
                    "400": {
                        "description": "Problem with the request arguments.  The response payload may include an error message."
                    },
                    "401": {
                        "description": "Authentication parameters missing"
                    },
                    "403": {
                        "description": "Authentication failed or rate-limit reached"
                    },
                    "404": {
                        "description": "User not found"
                    },
                    "500": {
                        "description": "Internal Server Error"
                    }
                },
                "deprecated": true
            }
        },
        "/api-public/v2/user/{user}/oncall/schedule": {
            "get": {
                "tags": [
                    "On-call"
                ],
                "summary": "Get a user's on-call schedule",
                "description": "Get the on-call schedule for a user for all teams the user is on, including on-call overrides.\n\nThis API may be called a maximum of 15 times per minute.\n",
                "parameters": [
                    {
                        "name": "X-VO-Api-Id",
                        "in": "header",
                        "description": "Your API ID",
                        "required": true,
                        "type": "string",
                        "x-exportParamName": "XVOApiId"
                    },
                    {
                        "name": "X-VO-Api-Key",
                        "in": "header",
                        "description": "Your API Key",
                        "required": true,
                        "type": "string",
                        "x-exportParamName": "XVOApiKey"
                    },
                    {
                        "name": "user",
                        "in": "path",
                        "description": "The VictorOps user ID",
                        "required": true,
                        "type": "string",
                        "x-exportParamName": "User"
                    },
                    {
                        "name": "daysForward",
                        "in": "query",
                        "description": "Days to include in returned schedule (30 max)",
                        "required": false,
                        "type": "number",
                        "default": 14,
                        "maximum": 30,
                        "minimum": 0,
                        "x-exportParamName": "DaysForward"
                    },
                    {
                        "name": "daysSkip",
                        "in": "query",
                        "description": "Days to skip before computing schedule to return (90 max)",
                        "required": false,
                        "type": "number",
                        "default": 0,
                        "maximum": 90,
                        "minimum": 0,
                        "x-exportParamName": "DaysSkip"
                    },
                    {
                        "name": "step",
                        "in": "query",
                        "description": "Step of escalation policy (3 max)",
                        "required": false,
                        "type": "number",
                        "default": 0,
                        "maximum": 3,
                        "minimum": 0,
                        "x-exportParamName": "Step"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The on-call schedule for the user",
                        "schema": {
                            "$ref": "#/definitions/UserSchedule"
                        }
                    },
                    "400": {
                        "description": "Problem with the request arguments.  The response payload may include an error message."
                    },
                    "401": {
                        "description": "Authentication parameters missing"
                    },
                    "403": {
                        "description": "Authentication failed or rate-limit reached"
                    },
                    "404": {
                        "description": "User not found"
                    },
                    "500": {
                        "description": "Internal Server Error"
                    }
                }
            }
        },
        "/api-public/v1/team/{team}/oncall/schedule": {
            "get": {
                "tags": [
                    "On-call"
                ],
                "summary": "Get a team's on-call schedule",
                "description": "__NOTE: This call is deprecated. Please use `GET /api-public/v2/team/{team}/oncall/schedule`.__\n\nGet the on-call schedule for a team, including on-call overrides.\n\nThis API may be called a maximum of 15 times per minute.\n",
                "parameters": [
                    {
                        "name": "X-VO-Api-Id",
                        "in": "header",
                        "description": "Your API ID",
                        "required": true,
                        "type": "string",
                        "x-exportParamName": "XVOApiId"
                    },
                    {
                        "name": "X-VO-Api-Key",
                        "in": "header",
                        "description": "Your API Key",
                        "required": true,
                        "type": "string",
                        "x-exportParamName": "XVOApiKey"
                    },
                    {
                        "name": "team",
                        "in": "path",
                        "description": "The VictorOps team 'slug'",
                        "required": true,
                        "type": "string",
                        "x-exportParamName": "Team"
                    },
                    {
                        "name": "daysForward",
                        "in": "query",
                        "description": "Days to include in returned schedule (30 max)",
                        "required": false,
                        "type": "number",
                        "default": 14,
                        "maximum": 30,
                        "minimum": 0,
                        "x-exportParamName": "DaysForward"
                    },
                    {
                        "name": "daysSkip",
                        "in": "query",
                        "description": "Days to skip before computing schedule to return (90 max)",
                        "required": false,
                        "type": "number",
                        "default": 0,
                        "maximum": 90,
                        "minimum": 0,
                        "x-exportParamName": "DaysSkip"
                    },
                    {
                        "name": "step",
                        "in": "query",
                        "description": "Step of escalation policy (3 max)",
                        "required": false,
                        "type": "number",
                        "default": 0,
                        "maximum": 3,
                        "minimum": 0,
                        "x-exportParamName": "Step"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The on-call schedule for the team",
                        "schema": {
                            "$ref": "#/definitions/OnCallAndOverrides"
                        }
                    },
                    "400": {
                        "description": "Problem with the request arguments.  The response payload may include an error message."
                    },
                    "401": {
                        "description": "Authentication parameters missing"
                    },
                    "403": {
                        "description": "Authentication failed or rate-limit reached"
                    },
                    "404": {
                        "description": "Team not found"
                    },
                    "500": {
                        "description": "Internal Server Error"
                    }
                },
                "deprecated": true
            }
        },
        "/api-public/v2/team/{team}/oncall/schedule": {
            "get": {
                "tags": [
                    "On-call"
                ],
                "summary": "Get a team's on-call schedule",
                "description": "Get the on-call schedule for a team, including on-call overrides.\n\nThis API may be called a maximum of 15 times per minute.\n",
                "parameters": [
                    {
                        "name": "X-VO-Api-Id",
                        "in": "header",
                        "description": "Your API ID",
                        "required": true,
                        "type": "string",
                        "x-exportParamName": "XVOApiId"
                    },
                    {
                        "name": "X-VO-Api-Key",
                        "in": "header",
                        "description": "Your API Key",
                        "required": true,
                        "type": "string",
                        "x-exportParamName": "XVOApiKey"
                    },
                    {
                        "name": "team",
                        "in": "path",
                        "description": "The VictorOps team 'slug'",
                        "required": true,
                        "type": "string",
                        "x-exportParamName": "Team"
                    },
                    {
                        "name": "daysForward",
                        "in": "query",
                        "description": "Days to include in returned schedule (30 max)",
                        "required": false,
                        "type": "number",
                        "default": 14,
                        "maximum": 30,
                        "minimum": 0,
                        "x-exportParamName": "DaysForward"
                    },
                    {
                        "name": "daysSkip",
                        "in": "query",
                        "description": "Days to skip before computing schedule to return (90 max)",
                        "required": false,
                        "type": "number",
                        "default": 0,
                        "maximum": 90,
                        "minimum": 0,
                        "x-exportParamName": "DaysSkip"
                    },
                    {
                        "name": "step",
                        "in": "query",
                        "description": "Step of escalation policy (3 max)",
                        "required": false,
                        "type": "number",
                        "default": 0,
                        "maximum": 3,
                        "minimum": 0,
                        "x-exportParamName": "Step"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The on-call schedule for the team",
                        "schema": {
                            "$ref": "#/definitions/TeamSchedule"
                        }
                    },
                    "400": {
                        "description": "Problem with the request arguments.  The response payload may include an error message."
                    },
                    "401": {
                        "description": "Authentication parameters missing"
                    },
                    "403": {
                        "description": "Authentication failed or rate-limit reached"
                    },
                    "404": {
                        "description": "Team not found"
                    },
                    "500": {
                        "description": "Internal Server Error"
                    }
                }
            }
        },
        "/api-public/v1/oncall/current": {
            "get": {
                "tags": [
                    "On-call"
                ],
                "summary": "Get an organization's on-call users",
                "description": "Get all on-call uesrs/teams for your organization.\n\nThis API may be called a maximum of 1 times per minute.\n",
                "parameters": [
                    {
                        "name": "X-VO-Api-Id",
                        "in": "header",
                        "description": "Your API ID",
                        "required": true,
                        "type": "string",
                        "x-exportParamName": "XVOApiId"
                    },
                    {
                        "name": "X-VO-Api-Key",
                        "in": "header",
                        "description": "Your API Key",
                        "required": true,
                        "type": "string",
                        "x-exportParamName": "XVOApiKey"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "All users and escalation policies currently on call",
                        "schema": {
                            "$ref": "#/definitions/inline_response_200_7"
                        }
                    },
                    "400": {
                        "description": "Problem with the request arguments.  The response payload may include an error message."
                    },
                    "401": {
                        "description": "Authentication parameters missing"
                    },
                    "403": {
                        "description": "Authentication failed or rate-limit reached"
                    },
                    "500": {
                        "description": "Internal Server Error"
                    }
                }
            }
        },
        "/api-reporting/v1/team/{team}/oncall/log": {
            "get": {
                "tags": [
                    "Reporting"
                ],
                "summary": "A list of shift changes for a team",
                "description": "Returns a log of user shift changes for the specified team. This is historical\ndata, and may be up to 15 minutes behind real-time log data.\n\nThis API may be called a maximum of 6 times per minute.\n",
                "parameters": [
                    {
                        "name": "X-VO-Api-Id",
                        "in": "header",
                        "description": "Your API ID",
                        "required": true,
                        "type": "string",
                        "x-exportParamName": "XVOApiId"
                    },
                    {
                        "name": "X-VO-Api-Key",
                        "in": "header",
                        "description": "Your API Key",
                        "required": true,
                        "type": "string",
                        "x-exportParamName": "XVOApiKey"
                    },
                    {
                        "name": "team",
                        "in": "path",
                        "description": "The VictorOps team 'slug'",
                        "required": true,
                        "type": "string",
                        "x-exportParamName": "Team"
                    },
                    {
                        "name": "start",
                        "in": "query",
                        "description": "Return shift changes occurring after this timestamp. The default is the start of the day at midnight. Specify the timestamp in ISO8601 format",
                        "required": false,
                        "type": "string",
                        "format": "date-time",
                        "x-exportParamName": "Start"
                    },
                    {
                        "name": "end",
                        "in": "query",
                        "description": "Return shift changes occurring before this timestamp. The default is the end of the day at 11:59:59. Specify the timestamp in ISO8601 format",
                        "required": false,
                        "type": "string",
                        "format": "date-time",
[...]
